dataset/
data/
**/__pycache__/
**/error
**/log
trials/log/
trials/error/
*.png

baselines/mplp/data
baselines/ncnc/rec/
baselines/ncnc/gmodel/
wandb/
archiv/
GRAND_LP/pos_encodings.tar.gz
GRAND_LP/data/
**/data
baselines/runs/

**/logs/
grand_lp/pos_encodings.tar.gz
ogb/
runs/
baselines/results
baselines/results

GRAND_LP.zip
results/
table_content.txt
